@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

@Styles.Render("~/Content/menu")

<div class="list-group">
    <a href="@Url.Action("Info","Account")" class="list-group-item">Account</a>
    <a href="@Url.Action("ChangePassword","Account")" class="list-group-item">Change Password</a>
    <a href="#" id="lnkLogOut" class="list-group-item">Log out</a>
    <a href="#" class="list-group-item disabled">Build number</a>
</div>

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}

@section Scripts {
    @Scripts.Render("~/bundles/settings")
}