@model Sinbin.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div>@ViewBag.Message</div>
        <section id="registerForm">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.OldPassword) })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.NewPassword) })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="btn-container">
                        <input type="submit" class="btn btn-green" value="Update Password" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-xs-1"></div>
</div>


