@model Sinbin.Web.Models.PictureViewModel

@{
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

@Styles.Render("~/Content/register")

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <section id="registerForm">
            @using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group image-upload">
                    <label for="file-input">
                        <span id="file-image" style="background-image:url('@Model.ProfilePictureUrl')"></span>
                    </label>
                    @Html.TextBoxFor(m => m.ProfilePicture, new { type = "file", id = "file-input", accept = "image/*", capture = "camera" })
                </div>
            }
        </section>
    </div>
    <div class="col-xs-1"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/register")
}
