<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/navbar")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <img id="Logo" class="nav-logo" src="../../Images/hilo_new.png" alt="Hilo" />
                    <input id="statusToggle" type="checkbox" data-toggle="toggle" data-style="ios" data-width="20" data-on=" " data-off=" " data-onstyle="success" data-offstyle="danger">
                </div>
            </div>
        </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <nav id="footer-nav" class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="col-xs-4 text-center">
                <a href="@Url.Action("Index", "Feed")">
                    <img id="FeedIcon" class="nav-icon" src="../../Images/home-inactive.png" alt="Feed"/>
                </a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="@Url.Action("Picture", "Profile")">
                    <img id="MeIcon" class="nav-icon" src="../../Images/camera-inactive.png" alt="Me" />
                </a>
            </div>          
            <div class="col-xs-4 text-center">
                <a href="@Url.Action("Menu", "Settings")">
                    <img id="SettingsIcon" class="nav-icon" src="../../Images/settings-inactive.png" alt="Settings" />
                </a>
            </div>
        </div>
    </nav>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/loadImage")
    @Scripts.Render("~/bundles/navigation")
    @RenderSection("scripts", required: false)
</body>
</html>
